In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
train = pd.read_csv('tested.csv')

In [ ]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
train.drop(['Fare','Cabin','Sex','Embarked','Name','Ticket'],axis=1,inplace=True)

In [ ]:
train.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch
0          892         0       3  34.5      0      0
1          893         1       3  47.0      1      0
2          894         0       2  62.0      0      0
3          895         0       3  27.0      0      0
4          896         1       3  22.0      1      1

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Age          332 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 19.7 KB

In [ ]:
train.describe()

       PassengerId    Survived      Pclass         Age       SibSp       Parch
count   418.000000  418.000000  418.000000  332.000000  418.000000  418.000000
mean   1100.500000    0.363636    2.265550   30.272590    0.447368    0.392344
std     120.810458    0.481622    0.841838   14.181209    0.896760    0.981429
min     892.000000    0.000000    1.000000    0.170000    0.000000    0.000000
25%     996.250000    0.000000    1.000000   21.000000    0.000000    0.000000
50%    1100.500000    0.000000    3.000000   27.000000    0.000000    0.000000
75%    1204.750000    1.000000    3.000000   39.000000    1.000000    0.000000
max    1309.000000    1.000000    3.000000   76.000000    8.000000    9.000000

Our data is ready for our model! # Building a Logistic Regression model ## Train Test Split

In [ ]:
train.dropna(inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(train.drop('Survived',axis=1), 
                                                    train['Survived'], test_size=0.30, 
                                                    random_state=101)

In [ ]:
X_train.head()

     PassengerId  Pclass   Age  SibSp  Parch
235         1127       3  20.0      0      0
18           910       3  27.0      1      0
105          997       3  28.0      0      0
279         1171       2  22.0      0      0
137         1029       2  26.0      0      0

In [ ]:
y_train.head()

235    0
18     1
105    0
279    0
137    0
Name: Survived, dtype: int64

Training and **Predicting**

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

LogisticRegression()

In [ ]:
predictions = logmodel.predict(X_test)

In [ ]:
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0])

**Evaluation**

In [ ]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,predictions)
score

0.64